# ignore Gradle files
.gradle/
build/

# local configuration file (sdk path, etc)
keystore.properties
local.properties
signing.gradle

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Mac
.DS_Store

# Never dd my local passwords file to git
app/src/androidTest/res/values/test_passwords.xml
